@import "~@/assets/scss/base/mixins";

.section {
  &__list {
    @include inner-paddings;
    box-shadow: 0px 3px 10px #a1a1a124;
    border-radius: 4px;
    flex: 1;
    background-color: #fff;
    // @include flex-row;    
  }
}
